beautifulsoup
ccxt
cryptography
fastapi
filetype
numpy
pandas
pandas_ta
pathlib
python-dateutil
PyYAML
regex
requests
setuptools
textblob
tomlkit
tqdm
urllib3
uvicorn
websocket
websockets
wheel
openai
Pyjwt
stripe
psycopg2-binary
passlib[bcrypt]
google-auth
python-docx
pdfplumber
databases[postgresql]
sqlalchemy
